name: "python-executor"
mode: ONCE
rlimit_as: 100000000
rlimit_cpu: 10
rlimit_fsize: 1000000
rlimit_nofile: 10
time_limit: 30
bindmount: "/tmp"
bindmount: "/usr"
bindmount: "/lib"
bindmount: "/lib64"
bindmount: "/bin"
bindmount: "/usr/local/lib/python3.9/dist-packages"
bindmount: "/usr/local/lib/python3.10/dist-packages"
bindmount: "/usr/local/lib/python3.11/dist-packages"
bindmount: "/usr/local/lib/python3.12/dist-packages"
bindmount: "/usr/lib/python3/dist-packages"
bindmount: "/usr/lib/python3.9/dist-packages"
bindmount: "/usr/lib/python3.10/dist-packages"
bindmount: "/usr/lib/python3.11/dist-packages"
bindmount: "/usr/lib/python3.12/dist-packages" 